# DON'T TOUCH THIS FILE!
# Your modification will be lost during the next update.
# Copy it to `config.ini`, then modify it and let it roll!

[Player]
# Path of the karaoke folder
karaFolder = /path/to/folder

# Enable or disable fullscreen mode
fullscreen = False

# VLC hardware acceleration
# It is STRONGLY recommended to enable hardware acceleration if you run the
# server and the player on the same computer. You will experience unpleasant
# lags otherwise.
# You have to choose which hardware acceleration VLC will use, depending on your
# graphic card. Ensure that the corresponding drivers are installed on your
# system. Selecting the wrong hardware acceleration driver will result into
# laggy output or no output at all.
#
# For Linux:
# For Intel and ATI cards, use VA-API:
#mediaParameter = avcodec-hw=vaapi
# For Nvidia cards, use VDPAU which is chosen automatically by default. You can
# explicitely set it:
#mediaParameter = avcodec-hw=any
#
# For Windows:
# For any cards, use DirectX:
#mediaParameter = avcodec-hw=dxva2
#
# If for reasons you need to disable hardware acceleration completely:
#mediaParameter = avcodec-hw=none

# You can force subtitle rendering to use screen resolution instead of video's.
# This will enhance subtitles quality on videos of small resolution, but may
# slow down the rendering if hardware decoding cannot be properly set.
#
# On Linux:
#instanceParameter = --vout x11

# For other options, consult VLC expanded help for a complete list of
# parameters:
#   vlc --longhelp --advanced
# Not all parameters are allowed thought
# Some parameters only work on the instance, others only on the media 

# Duration of the transition screen between two songs in seconds,
# won't work if the background file is a video.
# Default is 2 seconds.
#transitionDuration = 2

# Templates
# Templates are used to display some information on the idle or the transition
# screens in the form of subtitles. They can be anything VLC can handle as
# subtitle. You can consult the existing default files to create you own
# templates.
#
# Path to the directory of templates.
# Add a look up folder where you can put your custom template files.
# The fallback directory is 'dakara_player_vlc/resources/templates'.
# You have to set this parameter in order to set 'transitionTemplateName' and
# 'idleTemplateName'.
#templatesDirectory = path/to/templates/directory
#
# Name of the template for the transition screen text.
# This template displays information about the song to play (artist, details,
# etc.).
# Default is 'transition.ass'.
# You have to set 'templatesDirectory' to set this parameter.
#transitionTemplateName = transition_template.file
#
# Name of the template for the idle sceen text.
# Default is 'idle.ass'.
# You have to set 'templatesDirectory' to set this parameter.
#idleTemplateName = idle_template.file

# Backgrounds
# Backgrounds are used during the idle or the transition screens. They can be a
# steady picture or a video, anything VLC can read. In case of pictures, they
# will be displayed for a certain amount of time.
#
# Path to the directory of backgrounds.
# Add a look up folder where you can put your custom background files.
# The fallback directory is 'dakara_player_vlc/resources/backgrounds'.
# You have to set this parameter in order to set 'transitionBackgroundName' and
# 'idleBackgroundName'.
#backgroundsDirectory = path/to/backgrounds/directory
#
# Name of the background file of the transition screen.
# In case of a picture, it will be displayed during 'transitionDuration'
# seconds.
# Default is 'transition.png'.
# You have to set 'backgroundsDirectory' to set this parameter.
#transitionBackgroundName = transition_background.file
#
# Name of the background file of the idle screen.
# Default is 'idle.png'.
# You have to set 'backgroundsDirectory' to set this parameter.
#idleBackgroundName = idle_background.file

[Server]
# Server URL
url = http://127.0.0.1:8000/

# Credentials for server authentication
login = login
password = pass

[Global]
# Minimal level of messages to log
# For debug level, you can call `dakara.py` with the `−d` flag to show
# traceback on exceptions
loglevel = info
