recursive-include tests *.py
recursive-include tests/resources *.ass
recursive-include tests/resources *.png
recursive-include tests/resources *.mkv
recursive-include tests/resources *.mp3
include src/dakara_player/resources/font-awesome.json
include src/dakara_player/resources/player_vlc.yaml
recursive-include src/dakara_player/resources *.ass
recursive-include src/dakara_player/resources *.png
recursive-include src/dakara_player/resources *.ttf
include LICENSE
